# --- POSTGRES ---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: postgres-db
spec:
  replicas: 1
  selector:
    matchLabels:
      app: postgres-db
  template:
    metadata:
      labels:
        app: postgres-db
    spec:
      containers:
      - name: postgres
        image: postgres:15-alpine
        ports:
        - containerPort: 5432
        env:
        - name: POSTGRES_USER
          valueFrom:
            secretKeyRef:
              name: wakanda-secrets
              key: DB_USER
        - name: POSTGRES_PASSWORD
          valueFrom:
            secretKeyRef:
              name: wakanda-secrets
              key: DB_PASSWORD
        - name: POSTGRES_DB
          value: "default_db"
        volumeMounts:
        - name: init-script
          mountPath: /docker-entrypoint-initdb.d/init_databases.sql
          subPath: init_databases.sql
      volumes:
      - name: init-script
        configMap:
          name: wakanda-config
---
apiVersion: v1
kind: Service
metadata:
  name: wakanda-db
spec:
  selector:
    app: postgres-db
  ports:
    - port: 5432
      targetPort: 5432

# --- MINIO ---
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: minio
spec:
  replicas: 1
  selector:
    matchLabels:
      app: minio
  template:
    metadata:
      labels:
        app: minio
    spec:
      containers:
      - name: minio
        image: minio/minio
        command: ["server", "/data", "--console-address", ":9001"]
        ports:
        - containerPort: 9000
        - containerPort: 9001
        env:
        - name: MINIO_ROOT_USER
          valueFrom:
            secretKeyRef:
              name: wakanda-secrets
              key: MINIO_ROOT_USER
        - name: MINIO_ROOT_PASSWORD
          valueFrom:
            secretKeyRef:
              name: wakanda-secrets
              key: MINIO_ROOT_PASSWORD
---
apiVersion: v1
kind: Service
metadata:
  name: minio
spec:
  selector:
    app: minio
  ports:
    - name: api
      port: 9000
      targetPort: 9000
    - name: console
      port: 9001
      targetPort: 9001